@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    font-family: Raleway;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 39%, rgba(0,255,235,0.9304096638655462) 98%);
}
#whole {
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 130px;
    }

.o1, .o2, .o3 { 
    margin-right: 20px;
}

.result {
    font-size: 25px;
    margin-top: -30px;
}
.one , .two , .three {
    width: 50px;
    height: 25px;
}

.points {
    margin-right: 10px;
    font-size: 25px;
}
.hidden {
    display: none;
}
button {
    font-size: 30px;
    color: rgba(0,255,235,0.9304096638655462);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 32%, rgba(0,0,0,1) 87%, rgba(0,0,0,1) 96%);
    border: rgba(0,255,235,0.9304096638655462);
    border-radius: 5px;
    
}
#show {
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 130px;
}
#Srinath {
    font-size: 25px;
    margin-top: 30px;
}
#change-color {
    margin-top: 10px;
    color: white;
}
@media screen and (max-width: 1024px) {
    *, .points {
       font-size: 50px;
    }
     .result {
         font-size: 40px;
         margin-top: 20px;
         font-weight: bolder;
     }
     #take {
         font-size: 50px;
         cursor:
     }
}
